/* Card */
.cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-card-container {
  height: 60vh;
  border-bottom: 0.5px solid var(--orange-color);
  overflow-y: scroll;
}

.cart-card-container::-webkit-scrollbar {
  display: none;
}

.cart-card {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	background-color: var(--white-card-color);
	padding: 1em;
	max-width: 30em;
  height: 12em;
	margin: 1em 1em 0 1em;
	padding: 1.5em 1em 0 1em;
  box-shadow: var(--shadow);
}

.cart-image-container {
	grid-column: 1;
	grid-row: 2;
	display: flex;
	align-self: center;
}

.cart-image {
	width: 6em;
}

.cart-name {
  grid-column: 1 / span 4;
  grid-row: 1;
  font-weight: bold;
  text-decoration: none;
  color: var(--dark-blue);
}

.total-price {
  grid-column: 5;
  grid-row: 1;
  display: flex;
  justify-self: end;
  font-weight: bold;
  color: var(--orange-color);
}

.sub-text {
	grid-column: 2 / span 3;
	grid-row: 2;
	display: flex;
	align-self: center;
	margin-bottom: 1em;
}

.price {
  grid-column: 2;
  grid-row: 3;
  display: flex;
  align-self: start;
  font-weight: bold;
}

.amount-container {
  grid-column: 2;
  grid-row: 2 / span 2;
  display: flex;
  justify-self: center;
  align-self: end;
  flex-direction: row;
}

.cart-name,
.sub-text,
.amount-container {
  margin-left: 0.5em;
}

.food-amount {
  margin: 0 0.5em;
  display: flex;
  align-self: center;
}

.sub,
.plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 2em;
  background-color: var(--dark-blue);
  color: #ffffff;
}

.customize-order {
  grid-column: 1 / span 5;
  grid-row: 4;
	resize: none;
  width: 100%;
  height: 2.5em;
  padding:0.2em;
  margin: 1.2em 0 0.5em 0;
  border: none;
  font-size: 0.9em;
}

.customize-order:focus {
  outline: 0.5px solid #c0c0c0;
}

.sub:hover,
.plus:hover {
  cursor: pointer;
}

/* Promo code */
.cart-promo-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding: 1em;
  width: 90%;
  max-width: 30em;
  background-color: var(--white-card-color);
  box-shadow: var(--shadow);
  margin: 3em 1em 0 1em;
}

.promo-icon {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-self: center;
  color: var(--orange-color);
  transform: rotate(225deg);
}

.promo-code {
  grid-column: 2 /span 10;
  grid-row: 1;
  margin-right: 0.5em;
  font-size: 0.9em;
  border: none;
  padding-left: 0.2em;
}

.promo-code:focus {
  outline: 0.5px solid #c0c0c0;
}

.apply-promo-button {
  grid-column: 12;
  border: none;
  background-color: var(--dark-blue);
  color: var(--text-color-card);
  width: 5em;
  height: 2.5em;
  border-radius: 0.3em; 
}

.apply-promo-button:hover {
  cursor: pointer;
}

/* Total */
.cart-total-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1em;
  margin: 1em;
  width: 90%;
  max-width: 30em;
  font-weight: bold;
  background-color: var(--white-card-color);
  box-shadow: var(--shadow);
}

.total-price {
  color: var(--orange-color);
}

/* send to database button */
.send-cart-button {
  background-color: var(--orange-color);
  color: var(--dark-blue);
  font-weight: var(--next-button-font-weight);
  border: var(--next-button-border);
  border-radius: var(--next-button-border-radius);
  width: var(--next-button-width-mobil);
  height: var(--next-button-height-mobile);
  font-size: var(--next-button-font-size-mobile);
  padding: 1em 4em;
}

.send-cart-button:hover {
  cursor: pointer;
}

@media (min-width: 380px) {
  .cart-name {
    grid-column: 2 / span 3;
  }
  .amount-container {
    grid-column: 2;
    grid-row: 2;
    align-self: end;
  }
}
