.category-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchbar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 1em 0;
  padding: 0 5px;
  max-width: 400px;
}
.category-text {
  font-size: small;
}
.category-button-section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.5em;
}
.category-button {
  padding: 0.3em 0.9em;
  border: none;
  background-color: transparent;
  border-radius: 0.3em;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #000000;
}
.selected {
  background-color: #ffb550;
  color: white;
}
.category-button:hover {
  background-color: #ffb550;
  color: white;
}
.render-filteredfood-section {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.selected-filters-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 3px;
  margin: 1em 0em;
}
.selected-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected-filter-icon {
  font-size: 22px;
}
.filter-span {
  font-weight: bold;
  color: #ffb550;
  margin-right: 5px;
}
.filter-item {
  display: flex;
  align-items: center;
  padding: 5px;
}
.remove-filter-icon {
  font-size: 28px;
  color: var(--orange-color);
  cursor: pointer;
}
@media screen and (min-width: 798px) {
  .category-button-section {
    justify-content: center;
  }
  .category-button-section > * {
    margin-right: 6em;
  }
  .category-text-section {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1200px) {
  .category-button-section {
    justify-content: flex-start;
  }
  .searchbar-section {
    margin-left: 1.5em;
  }
}
