* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.details-page {
    display: flex;
    flex-direction: column;
}

.background-img {
    height: 100%;
    width: 100vw;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 80%;
}

.amount {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 80px;
    height: 50px;
}

.amount-count {
    margin: 5px;
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    background-color: var(--orange-color);
    text-align: center;
    color: white;
}

.amount-detail-button {
    border: none;
    background-color: transparent;
}

.biMinus,
.biPlus {
    color: white;
    font-size: large;
}

.price {
    color: var(--orange-color);
    font-weight: 600;
}

.detail-header {
    color: white;
}


.description-section {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.description-text {
    color: var(--text-color-card);
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: smaller;
}

.cart-btn {
    display: flex;
    align-items: center;
    background-color: var(--orange-color);
    inset-inline: none;
    border: none;
    border-radius: 10px;
    padding: 1em 2em;
    margin-top: 15px;
    width: 70%;
    text-align: center;
}

.btn-text {
    margin-right: 5%;
    margin-left: 20%;
    font-weight: 600;
}

.BsFillCartPlusFill {
    font-size: x-large;
    margin-left: 10px;
}
.price{
    text-align: right;
}

/* min-width nödvändig? */
@media screen and (max-width: 499px) {
    .content-container {
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 600px;
        display: flex;
    }

    .detail-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #263544;
        width: 100%;
        height: 350px;
        position: absolute;
        bottom: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .top-row {
        width: 100%;
    }
    .cart-btn {
        width: 250px;
    }
}

/* redo when midsize screen design is done */
@media screen and (min-width: 500px) and (max-width: 798px) {
    .content-container {
        background-size: cover;
        background-position: center;
        width: 100vw;
        height: 600px;
        display: flex;
    }

    .detail-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #263544;
        width: 100%;
        height: 350px;
        position: absolute;
        bottom: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .detail-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
        width: 100%;
    }

    .cart-btn {
        width: 250px;
    }
    .top-row {
        width: 380px;
    }
}

@media screen and (min-width: 799px) {

    .details-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        height: 100vh;
        width: 80vw;

    }

    .BiArrowBack {
        opacity: 0;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
    }

    .detail-popup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        width: 500px;
    }

    .background-img {
        height: 280px;
        width: 450px;
    }

    .description-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .description-text,
    .detail-header {
        color: black;
        width: 300px;
        font-size: medium;
    }

    .biMinus,
    .biPlus {
        color: black;
        font-size: 25px;
    }

    .cart-btn {
        width: 250px;
        /* box-shadow: var(--shadow); */
    }

    .detail-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 15px;
        width: 100%;
    }

    .amount {
        width: 100px;
        height: 80px;
    }

    .amount-count {
        margin: 5px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }

}