.details-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.details-container {
  height: 91.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8em;
}
.navigate {
  width: 100%;
  height: 8em;
}
.dish-img {
  max-width: 50em;
  border-radius: 10px;
}
.amount-count {
  margin: 5px;
  padding: 3px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--orange-color);
  text-align: center;
  color: white;
  margin: 2em 0;
}
.amount-detail-button {
  display: flex;
  cursor: pointer;
}
.detail-amount {
  display: flex;
  width: 5em;
  justify-content: space-between;
  align-items: center;
}
.detail-amount > button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 800;
}
.amount-price {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: center;
}
.amount {
  display: flex;
  align-items: center;
  width: 80px;
  height: 50px;
}
.details-text {
  width: 85%;
  margin-bottom: 2em;
}
.detail-price {
  font-weight: bold;
  color: var(--orange-color);
  font-size: 18px;
}
.detail-header {
  font-weight: bold;
}
.description-text {
  font-size: 14px;
  margin-top: 0.75em;
  padding-bottom: 2em;
}
.allergenes-span {
  color: var(--orange-color);
  font-weight: bold;
}
.allergenes-p {
  font-weight: 500;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 1em;
}
.cart-btn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-color);
  border: none;
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-blue);
  padding: 1em 0 1em 0;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 2em;
}
.add-to-cart-from-details-icon {
  font-size: 30px;
  margin-left: 0.5em;
}
@media screen and (min-width: 1200px) {
  .details-page {
    width: auto;
    margin-right: 22em;
    margin-left: 4.6em;
    align-items: center;
  }
  .details-container {
    width: 80%;
    align-items: center;
    margin: 10em 0 2em 0;
  }
  .dish-img {
    margin-top: 0;
    width: 100%;
  }
  .details-container > * {
    max-width: 35em;
  }
  .cart-btn {
    max-width: 25em;
  }
}

@media screen and (max-width: 798px) {
  .dish-img,
  .detail-text {
    max-width: 25em;
  }
}
@media screen and (max-width: 450px) {
  .dish-img {
    max-width: 18em;
  }
}
