.ErrorRoute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > * {
        padding: 0em;
        margin: 1em;
    }
}

.ErrorRoute > .back-to-start {
    text-decoration: none;
    background: #263544;
    color: #FFB550;
    border: 1px solid black;
    padding: 0.5em 1em;
    border-radius: 0.3em;
}