.header {
  padding: 0.5em 0 2em 0;
  position: absolute;
  top: 0;
}
.title-header {
  margin-left: 2.3em;
  font-size: 52px;
  font-family: var(--font-heading);
  color: var(--orange-color);
}
.header-link {
  text-decoration: none;
}
.heading-symbol-login {
  font-family: var(--font-heading);
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .title-header {
    margin-left: 0;
    font-size: 52px;
  }
}
@media screen and (max-width: 592px) {
  .title-header {
    font-size: 40px;
    padding: 0.3em 0em;
  }
}
