@import "../App.css";

.landing-section {
  position: relative;
  background-blend-mode: multiply;
  background-color: rgb(116, 116, 116);
  background-image: url('/images/backgrounds/landingpage-mobile-resized.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  padding-bottom: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-section p {
  font-weight: 600;
}

.tag-text {
  color: var(--orange-color);
}

.tag-info-text {
  color: #FFFFFF;
}

.landing-heading-section {
  display: flex;
  justify-items: center;
  flex-direction: column;
  margin-bottom: 2em;
  gap: 1em;
}
.landing-h1 {
  align-self: center;
  font-family: var(--font-heading);
  color: var(--orange-color);
  font-size: 4em;
}
.landing-text {
  display: flex;
  gap: 0.4em;
}
.landing-text > div > * {
  margin-bottom: 1.3em;
  text-wrap: balance;
}
.landing-text > div {
  margin-bottom: 1em;
}

.tags {
  text-align: right;
}

.tags-info {
  width: 11.5em;
}

.p-div {
  display: flex;
  flex-direction: row;
  
  & > p {
    margin-left: 0.4em;
  }
}

#p-openhours {
  color: var(--orange-color);
}

.note {
  color: white;
  & span {
    color: var(--orange-color);
  }
}
.heading-symbol {
  color: var(--white-card-color);
  font-family: var(--font-heading);
  align-self: center;
  font-size: 4em;
  font-weight: 600;
}
.landing-btn {
  background-color: var(--orange-color);
  font-size: 1em;
  font-weight: 600;
  color: var(--dark-blue);
  border: none;
  padding: 1em 4em;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 1em;
  margin-bottom: 2em;
}

@media screen and (min-width: 798px) {
  .landing-section {
    background-image: url('/images/backgrounds/landingpage-desktop-resized.jpg');
    background-position: center top;
  }
  .landing-section > h1 {
    padding-top: 2em;
  }
  .p-div {
    display: flex;
    & > p {
      margin-left: 0.4em;
    }
  }
}
