.LoginRoute {
  min-height: calc(100vh - (3.1em + 27px));
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../assets/images/backgrounds/alt-img-resize.jpeg");
  background-blend-mode: multiply;
  background-color: rgb(116, 116, 116);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.login-heading {
  display: none;
  padding: 0.2em 0.5em;
  border-bottom: 2px solid var(--orange-color);
  margin-bottom: 2em;
  z-index: 1;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group > label {
  color: var(--orange-color);
  margin-bottom: 0.5em;
  font-weight: 500;
}

.input-group > input,
.input-group input {
  padding: 0.7em 1.2em;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
}

.input-group .password-input {
  border-radius: 5px;
  padding: 0.7em 1.2em;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
}
.input-group > div {
  display: flex;
  position: relative;
}

.input-group > div > div {
  position: absolute;
  right: 0;
  height: 100%;
}

.input-group > div > div > svg {
  height: 80%;
  width: 80%;
  fill: rgb(64, 64, 64);
  margin-right: 4px;
}
.visibility-toggle {
  display: flex;
  height: 100%;
  align-items: center;
}

.login-button {
  margin-top: 6em;
  padding: 0.5em 3em;
  max-width: fit-content;
  background-color: var(--dark-blue);
  color: var(--orange-color);
  font-size: 1.1em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .LoginRoute {
    justify-content: end;
  }
  .login-form {
    background-color: #f0f5f7;
    min-height: 100vh;
    width: 30em;
  }
  .login-heading {
    display: block;
    color: var(--dark-blue);
  }
}
