@import "../App.css";
.meals-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.meals-link {
  text-decoration: none;
}
.navlink {
  text-decoration: none;
}
.meals-card {
  background-size: cover;
  background-position: center;
  width: 14em;
  height: 16em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1em;
  position: relative;
  z-index: -1;
  box-shadow: var(--shadow);
  margin: var(--margin-between-card);
}
.meals-img {
  filter: brightness(0.6);
  height: 100%;
  object-fit: cover; /* Justera värdet för mörkare eller ljusare effekt */
  border-radius: 1em 1em 0 0;
}
.meals-btn {
  background-color: #263544;
  border: none;
  height: 4em;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: var(--white-card-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 1em 1em;
}
.meals-cart {
  font-size: 18px;
  margin-left: 0.5em;
}
.meals-text > .meals-price {
  color: var(--orange-color);
  padding-bottom: 1em;
  padding-top: 0.25em;
}
.deal-prices {
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
  padding-top: 0.25em;
}
.deal-prices > .dealmeals-price {
  color: var(--orange-color);
}
.deal-prices > .dealmeals-price-old {
  text-decoration: line-through;
}
.meals-text {
  position: absolute;
  color: var(--text-color-card);
  padding-left: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  bottom: 15%;
  padding-right: 0.5em;
}
.btn-icon {
  font-size: 20px;
  margin-left: 0.5em;
}

.meals-section {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1em;
  overscroll-behavior-inline: contain;
  margin-top: 2em;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
}
.snaps-inline > * {
  scroll-snap-align: start;
}