/* // TODO: Se till att få font att exporteras korrekt via ::root */
@import "../App.css";

.order-route-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;
}

.recieved-order-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10em;
}

.recieved-order-card {
    width: 300px;
    background-color: var(--white-card-color);
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 2px;
    padding: 1em 1.5em;
}

.order-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-id {
    font-size: 0.6em;
}

.order-comment {
    font-size: 0.8em;
}

.close-order-icon,
.open-order-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.order-info-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.order-info-list {
    grid-column: 1 /span 3;
    grid-row: 1;
    margin-top: 0.5em;
    list-style-type: none;
}

.comment-section {
    grid-column: 1;
    grid-row: 2;
    font-size: 1em;
    display: flex;
    align-self: center;
}

.done-order-icon,
.send-order-icon {
    grid-column: 3;
    grid-row: 2;
    color: var(--dark-blue);
    width: 50px;
    height: 50px;
    font-size: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-end;
    background-color: transparent;
    cursor: pointer;
}

@media screen and (min-width: 499px) {

    .recieved-order-card,
    .done-order-card,
    .current-order-card {
        width: 450px;
    }
    .order-id {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 798px) {

    .recieved-order-card,
    .done-order-card,
    .current-order-card {
        width: 500px;
    }
    .order-id {
        font-size: 1em;
    }
    .order-comment {
        font-size: 1em;
    }
} 

/* .recieved-order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 0.5rem
}

.order-logotype {
    display: flex;
    justify-content: center;
    font-family: var(--font-heading);
    color: var(--orange-color);
}

.order-route-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}

.recieved-order-card,
.done-order-card,
.current-order-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-card-color);
    padding: 0.5em 0.5em;
    width: 315px;
    box-shadow: var(--shadow);
}

.order-id {
    font-size: 0.6em;
}


.done-order-card {
    background-color: lightgray;
}

.current-order-card {
    background-color: var(--white-card-color);
}

.order-content {
}

.order-info-section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}


.recieved-order-card .amount-text,
.current-order-card .amount-text,
.done-order-card .amount-text {
    font-weight: 700;
    color: var(--orange-color);
    display: flex;
    justify-content: space-between;
}


.done-order-icon,
.send-order-icon {
    color: var(--dark-blue);
    width: 70px;
    height: 70px;
    font-size: 60px;
}

.done-order-card .done-order-icon {
    color: rgb(45, 224, 45);
}

.extend-order-icons {
    color: var(--dark-blue);
    font-size: 35px;
    width: 35px;
    height: 35px;
}

.order-product-name {
    font-size: large;
    margin-bottom: 5px;
}

.additional-info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.comment-section {
    display: flex;
    flex-direction: column;
}

.extend-order-icons {
    display: flex;
    justify-content: center;
    align-items: start;
}

.close-order-icon, .open-order-icon {
    border: none;
    background-color: transparent;
} */

/* @media screen and (max-width: 499px) {

    .recieved-order-card,
    .done-order-card,
    .current-order-card {
        width: 325px;
    }
}

@media screen and (min-width: 500px) and (max-width: 798px) {

    .recieved-order-card,
    .done-order-card,
    .current-order-card {
        width: 380px;
    }
}

@media screen and (min-width: 798px) {

    .recieved-order-card,
    .done-order-card,
    .current-order-card {
        width: 450px;
    }
} */