.search-bar {
	position: relative;
	width: fit-content;
}

.search-bar > svg,
.filter-btn {
	position: absolute;
	top: 5px;
}

.search-bar > svg {
	left: 5px;
}

.filter-btn {
	right: 5px;
}

.filter-btn {
	background-color: transparent;
	border: none;
}

.search-bar > svg,
.filter-btn > svg {
	height: 25px;
	width: 25px;
}

#search-input {
	padding: 0.3em 2em;
	font-size: 1em;
}
